node_modules
.vscode
**/.DS_Store
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
yarn-error.log
playbook/stats.json
*.dec.*
*.log
tmp*
log/development.log*

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore environment variable files
.env
.env.development
.env.test